<div id="sidebar" class="active">
  <div class="sidebar-wrapper active">
    <div class="sidebar-header">
      <div class="d-flex justify-content-between">
        <div class="logo">
          <a href="/admin" style="text-decoration: none;"><span>ADMIN PANEl</span></a>
        </div>
        <div class="toggler">
          <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
        </div>
      </div>
    </div>
    <div class="sidebar-menu">
      <ul class="menu">
        <li class="sidebar-item">
          <a href="/admin" class="sidebar-link">
            <i class="bi bi-laptop"></i>
            <span>DASHBOARD</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="/admin/banner" class="sidebar-link">
            <i class="bi bi-card-image"></i>
            <span>BANNER MANAGE</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="/admin/aboutUs" class="sidebar-link">
            <i class="bi bi-card-image"></i>
            <span>ABOUT US MANAGE</span>
          </a>
        </li>
           <li class="sidebar-item">
          <a href="/admin/branch" class="sidebar-link">
            <i class="bi bi-card-image"></i>
            <span>BRANCH MANAGE</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="/admin/add-category" class="sidebar-link">
            <i class="bi bi-list"></i>
            <span>CATEGORY MANAGE</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="/admin/all-products" class="sidebar-link">
            <i class="bi bi-grid-fill"></i>
            <span>PRODUCTS MANAGE</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="/admin/users-list" class="sidebar-link">
            <i class="bi bi-person-badge-fill"></i>
            <span>USERS MANAGE</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="/admin/view-orders" class="sidebar-link">
            <i class="bi bi-basket-fill"></i>
            <span>ORDERS MANAGE</span>
          </a>
        </li>
       
        {{!-- <li class="sidebar-item">
          <a href="/admin/add-coupon" class="sidebar-link">
            <i class="bi bi-cash"></i>
            <span>CONTACTED PEOPLE</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="/admin/all-customers" class="sidebar-link">
            <i class="bi bi-cash"></i>
            <span>CUSTOMER MANAGE</span>
          </a>
        </li> --}}
        <li class="sidebar-item">
          <a href="/admin/adminlogout" class="sidebar-link" onclick="adminlogout(event)">
            <i class="bi bi-arrow-down-left-circle"></i>
            <span>LOGOUT</span>
          </a>
        </li>
      </ul>
    </div>
    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
  </div>
</div>
<header class="mb-3">
  <a href="#" class="burger-btn d-block d-xl-none">
    <i class="bi bi-justify fs-3"></i>
  </a>
</header>